<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Orion Campus{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    
<style>
body{background:#0d0d0d;color:white}.sidebar,.navbar-top{display:none}
.main-content{margin:0;max-width:1100px;padding:30px;margin:auto;text-align:center}
</style></head><body><h1 style='text-align:center;padding:25px'>ORION CAMPUS</h1>
<div class='main-content'>{% block content %}{% endblock %}</div></body>
</html>
